@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400);

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Image/cyber.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 1200px;
    border: 4px solid #fff;
    font-family: source sans Pro, sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 1500px;
}
nav{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: #0082e6;
    height: 100px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    padding: 0 100px;
    line-height: 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: solid;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.blog{
    margin-bottom: 20px;
    background: white;
}
.date{
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}
.paragraph{
    border-left: 25px solid #2370a5;
    padding-left: 7px;
}
h2{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 2.0rem;
    color: rgb(30, 30, 201);
}

h3{
    padding-left: 30px;
    font-size: ;
    color: black;
    text-transform: uppercase;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

p{
    color:rgb(0, 0, 0);
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

bold{
    font-weight: bold;
    text-decoration: underline;
}

italic{
    font-style: italic;
}

center{
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.code{
    color: white;
    background-color: black;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 750px;
}
.JSON{
        color: white;
        background-color: black;
        font-size: 15px;
        margin-left: 400px;
        margin-right: 350px;
}

.span{
    margin-left: 20px;
}
.space{
    margin-top: 100px;
}

.dockerbuild{
    width: 45%;
}
.dockerrun{
    width: 50%;
}

.vpc-create{
    width: 50%;
}
.vpc-subnet{
    width: 50%;
}
.vpc-igw{
    width: 50%;
}
.vpc-rtbcreate{
    width: 50%;
}
.vpc-rtbassociate{
    width: 30%;
}
.vpc-subnetassociations{
    width: 70%;
}
.vpc-masterpolicy{
    width: 80%;
}
.vpc-k8masterpolicy{
    width: 70%;
}
.vpc-roleec2{
    width: 50%;
}
.vpc-rolefinal{
    width: 30%;
}
.masterec2{
    width: 40%;
}
.instancetype-keypp{
    width: 50%;
}
.networksettings{
    width: 50%;
}
.createsg{
    width: 50%;
}
.tagsec2{
    width: 50%;
}
.ec2role{
    width: 50%;
}